nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height:4rem;
    width: 100%;
    background-color: #400;
    padding:0 1rem;
}

.nav_respons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height:100%;
    width: 70%;
    background-color: #400;
    padding:0 1rem;
    transition: all 1s ;
}

.ul_nav{
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

.ul_nav_inicio_sesion{
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

.ul_nav_inicio_sesion li:hover{
    font-size: 1.8rem;
}

.logo{
    width:20%;
    height: 100%;
    padding: 0.2rem 0;
    display: flex;
    justify-content: center;
    align-items: center;

}

.img_logo{
    width: 20%;
    aspect-ratio: 1/1;
    object-fit: contain;
}
.menu{
    display: none;
}


a{
    text-decoration: none;
}

li{
    list-style: none;
}

.ul_nav li{
    width: 15%;
    padding-bottom: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 1.3rem;
}
.ul_nav li:hover{
    border-bottom: 2px solid #fa1;
    width: 15%;
}

.a_nav{
    color:#fa0;
}



.a_nav_sesion{
    color: #fa0;
    font-weight: 900;
    font-size: 1rem;
}