.contenedor_videos_categoria{
    width: 100%;
    min-height: 90vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    background:url(../../img/fondo_videos.jpg) no-repeat center center;
    background-size: cover;
    padding-top: 1rem;
    position: relative;
}
.opacity{
    width: 100%;
    height: 100%;
    background-color: #111d;
    position: absolute;
    top:0;
}

.card_video_categoria{
    width: 20%;
    max-width: 300px;
    min-width: 250px;
    min-height: 200px;
    max-height: 300px;
    margin:1rem 0.5rem;
    padding-bottom: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    background-color: #333;
    box-shadow: 0 0 10px 5px #fa1;
    color: #fa1;
    z-index: 10;
}

.card_video_categoria a{
    text-decoration:none;
    font-weight: bold;
    color: #fa1;
    font-size: 2rem;
}


img{
    width: 100%;
    border-radius: 10px 10px 0 0 ;

}