.header_home{
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container_logo_principal{
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background:url(../../img/fondo_videos.jpg) no-repeat center center;
    background-size: cover;
}

.container_logo{
    width: 25%;
    height: 70%;
    z-index: 10;
}

.logo_principal{
    height: 50%;
    aspect-ratio: 1/1.2;
    object-fit: contain;
}

main{
    width: 100%;
    height: auto;
    padding-bottom: 1rem;
}

/*Seccion Plan*/
.contenedor_plan_pago{
    width: 100%;
    height: auto;
    padding: 1rem 0 ;
    background-color: #333;
    border-top: 50px solid #400;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.plan_mensual{
    width: 50%;
    padding: .5rem;
    margin: 1rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fa1;
    background-color: #400;
    border-radius: 20px;
    box-shadow: 0 0 10px 10px #fa1;

}

.contenedor_card{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    padding:1rem 0 
}

.card_plan{
    width: 30%;
    height: auto;
    background-color: #400;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color:#fa1;
    padding: 1rem 0 ;
    box-shadow: 0 0 10px 5px #fa1;
    margin: 1rem 0;
}

.card_plan h2{
    width: 80%;
    padding: 0.5rem;
    background-color: #333;
    text-align: center;
    border-radius: 20px;
    margin:.5rem 0
}

.card_plan div{
    width: 80%;
    padding: 0.5rem;
    background-color: #333;
    text-align: center;
    border-radius: 20px;
    margin: .5rem 0;
}

.card_plan h3{
    
    font-size: 2rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.card_plan h3>p{
    font-size: 1rem;
    margin-right: .5rem;
}

.card_plan a{
    text-decoration: none;
    color: #400;
    background-color: #fa1;
    border-radius: 20px;
    text-align: center;
    width: 50%;
    font-size: 1.5rem;
}
