.ubicacion_home{
    width: 100%;
    height: auto;
    padding: 1rem 0;
    border-top: 50px solid #400;
    background-color: #333;
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
}

.ubicacion_home h2{
    width: 50%;
    padding: .5rem 0;
    margin: 1rem 0;
    border-radius: 20px;
    background-color: #400;
    box-shadow: 0 0 10px 10px #fa1;
    color: #fa1;
    text-align: center;
    margin-bottom: 1rem;
}

.container_ubicicon{
    display: flex;
    margin: 1rem 0 ;
}

.iframe{
    max-width: 300px;
    min-width: 100px;
}

.ubicacion_text{
    width: 50%;
    height: auto;
    padding: 1rem 1rem;
    margin: 1rem 2rem;
    border-radius: 20px;
    background-color: #400;
    box-shadow: 0 0 10px 10px #fa1;
    color: #fa1;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}