:root{
    --letra: 'Nunito', sans-serif;
}

*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: var(--letra);
}

body{
    width: 100vw;
    min-height: 100vh;
    height: 100vh;
}

footer{
    width: 100%;
    height: 3rem;
    background-color: #400;
    display: flex;
    justify-content: center;
    align-items: center;
    color:#fa1;
}

