:root{
    --letra: 'Nunito', sans-serif;
}

*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: var(--letra);
}

body{
    width: 100vw;
    min-height: 100vh;
    height: 100vh;
}

img{
    width: 300px;
    height: 300px;
}