.container {
    width: 100%;
    min-height: 90vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    background-color: #332;
    padding-top: 3rem;
    background: url(../../img/fondo_videos.jpg) no-repeat center center;
    background-size: cover;
    position: relative;
    padding-bottom: 2rem;
}

.opacity {
    width: 100%;
    height: 100%;
    background-color: #111c;
    position: absolute;
    top: 0;
}

.container_form {
    width: 50%;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    z-index: 10;
}

.img_login {
    width: 300px;
    position: absolute;
}

.login_form {
    max-width: 600px;
    min-width: 300px;
    background-color: #400;
    display: flex;
    flex-direction: column;
    padding: 2rem 1rem 1rem 1rem;
    border-radius: 50px 50px 20px 20px;
    margin-top: 11rem;
    align-items: center;
    justify-content: space-evenly;
}

.login_input {
    width: 90%;
    height: 2rem;
    margin: 1rem 0;
    border: 2px solid #fa1;
    border-radius: 10px;
}

.submit_input {
    width: 70%;
    height: 2rem;
    margin: 1rem 0;
    border-radius: 10px;
    background-color: #fa1;
}

.login_input::placeholder {
    background-color: #332;
    color: #fa1;

    text-align: center;
}
