.contenedor_rutina{
    width: 100%;
    min-height: 80vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    background:url(../../img/fondo_videos.jpg) no-repeat center center;
    background-size: cover;
    padding-top: 1rem;
    position: relative;
}
.opacity{
    width: 100%;
    height: 100%;
    background-color: #111d;
    position: absolute;
    top:0;
}

.card_rutina{
    width: 20%;
    max-width: 300px;
    min-width: 200px;
    min-height: 200px;
    max-height: 300px;
    margin: 1rem .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 0 10px 5px #fa1;
    background:transparent;
    backdrop-filter: blur(20px);
    transition: all .3s ease-in;
    z-index: 10;
    
}

.card_rutina a{
    text-decoration:none;
    font-weight: bold;
    color: #fa1;
    font-size: 2rem;
}
