
@media only screen and (max-width: 1024px){

    
}



@media only screen and (max-width: 780px){
    
    body{
        padding-top: 4rem;
    }
    

}

@media only screen and (max-width: 500px){
    
    .card_video_categoria a{
        text-decoration:none;
        font-weight: bold;
        color: #fa1;
        font-size: 1.5rem;
    }
    
}