{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "css/style_global.css" %}">
    <link rel="stylesheet" href="{% static "css/base/nav.css" %}">
    <link rel="stylesheet" href="{% static "css/videos/videos.css" %}">
    <link rel="stylesheet" href="{% static "css/videos/videoCategoria.css" %}">
    <link rel="stylesheet" href="{% static "css/usuarios/login.css" %}">
    <link rel="stylesheet" href="{% static "css/usuarios/usuarios.css" %}">
    <link rel="stylesheet" href="{% static "css/rutina/rutina.css" %}">
    <link rel="stylesheet" href="{% static "css/home/home.css" %}">
    <link rel="stylesheet" href="{% static "css/home/home_respons.css" %}">
    <link rel="stylesheet" href="{% static "css/home/contacto.css" %}">
    <link rel="stylesheet" href="{% static "css/home/ubicacion.css" %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;900&display=swap" rel="stylesheet">
    <title>Aaron Gym | {% block title %}{% endblock %}</title>
</head>
<body>
    <nav class='nav_base'>
        <div class="logo">
            <img src="{% static 'img/logo_arongym.png' %}" alt="logo" class="img_logo">
        </div>
        <ul class="ul_nav">
            <li class="li_nav"><a href="{% url 'home' %}" class="a_nav">Home</a></li>
            {% if user.is_authenticated %}
            <li class="li_nav"><a href="{% url 'rutinas:rutinas' %}" class="a_nav">Rutinas</a></li>
            <li class="li_nav"><a href="{% url 'videos:videos' %}" class="a_nav">Videos</a></li>
            {% endif %}  
        </ul>
        <ul class="ul_nav_inicio_sesion">
        {% if user.is_superuser %}
            <li class="li_sesion"><a href="{% url 'usuarios:registro' %}" class="a_nav_sesion">Registro</a></li>
            <li class="li_sesion"><a href="{% url 'usuarios:usuarios' %}" class="a_nav_sesion">Socios</a></li>
        {% endif %}  
        {% if user.is_authenticated %}
            <li class="li_sesion cerrar"><a class="a_nav_sesion" href="{% url 'logout' %}">Cerrar Sesión</a></li>
        {% else %}
            <li class="li_sesion"><a href="{% url 'login' %}" class="a_nav_sesion">Iniciar sesion</a></li>
        {% endif %}
        
        <ul/>
    </nav>
    {% block contenedor %}
    {% endblock %} 

    <footer> Desarrollado por Pascual Silvestri telf:3624297648</footer>
</body>
</html>