{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "css/style_global.css" %}">
    <title>Aaron Gym{% block title %}{% endblock %}</title>
</head>
<body>
    <nav>
        <div class="logo"><img src="" alt="" class="img_logo">Aaron GYM</div>
        <ul class="ul_nav">
            <li class="li_nav"><a href="" class="a_nav">Home</a></li>
            <li class="li_nav"><a href="" class="a_nav">Rutinas</a></li>
        </ul>
        <ul class="ul_nav_inicio_sesion">
            <li class="li_nav"><a href="" class="a_nav">Iniciar sesion</a></li>
        </ul>
    </nav>

    <footer> Desarrollado por Pascual Silvestri telf:3624297648</footer>

    
</body>
</html>