{% extends 'base.html' %}
{% load static %} 

{% block title %} Home{% endblock %} 

{% block contenedor %}
<header class="header_home">
    <div class="container_logo_principal">
        <div class="opacity"></div>
        <span class="container_logo">
            <img src="{% static 'img/logo_arongym.png' %}" alt="" class="logo_principal">
        </span>
    </div>
</header>
<main class="main_home">

</main>
<section class="contacto_home">

</section>
<section class="coach_home">

</section>

{% endblock  %}