{% extends 'base.html' %}
{% load static %} 

{% block title %} Home{% endblock %} 

{% block contenedor %}
<header class="header_home">
    <div class="container_logo_principal">
        <div class="opacity"></div>
        <span class="container_logo">
            <img src="{% static 'img/logo_arongym.png' %}" alt="" class="logo_principal">
        </span>
    </div>
</header>
<main class="main_home">
    <section class="contenedor_plan_pago">
        <h1 class="plan_mensual">
            PLANES MENSUALES
        </h1>
        <div class="contenedor_card">
            <div class="card_plan">
                <h2>Plan Uno</h2>
                <div>
                    <h3 class="precio">3.000</h3>
                    <p>Pesos</p>
                </div>
                <div>
                    <h3 class="precio">3 veces x semana</h3>
                </div>
                
                <a href="https://wa.me/5493624708245">Info</a>
            </div>
            <div class="card_plan">
                <h2>Plan Dos</h2>
                <div>
                    <h3 class="precio">4.000</h3>
                    <p>Pesos</p>
                </div>
                <div>
                    <h3 class="precio">6 veces x semana</h3>
                </div>
                
                <a href="https://wa.me/5493624708245">Info</a>
            </div>
        </div>
        
    </section>
    <section class="contacto_home">
        <h2>Donde Contactarnos</h2>
        <div class="container_info">
            <div class="contacto_text">
                <a href="https://wa.me/5493624708245"class="whatsapp">
                    <img src="{% static 'img/icons_whats.png' %}" alt="" class="img_icons">
                    <p>362 470-8245</p> 
                </a>
                <a href='https://instagram.com/aron.gymm?igshid=YmMyMTA2M2Y=' class="instagram">
                    <img src="{% static 'img/icons-insta.png' %}" alt="" class="img_icons">
                    <p>https://instagram.com/aron.gymm?igshid=YmMyMTA2M2Y=</p> 
                </a>
            </div>
            <div class="qr">
                <img src="{% static 'img/arongym_qr.png' %}" alt="" class="img_qr">
            </div>
        </div>
    </section>
    <section class="ubicacion_home">
        <h2>Donde Encontrarnos</h2>
        <div class="container_ubicicon">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3540.30349602065!2d-59.00612288544251!3d-27.459809322855566!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94450c84e37e8c61%3A0xf863870a36a61d39!2s2%20de%20Febrero%20448%2C%20H3506BKI%20Resistencia%2C%20Chaco!5e0!3m2!1ses-419!2sar!4v1678888510341!5m2!1ses-419!2sar" width="300" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            <div class="ubicacion_text">
                <h3>Direccion: <br/>Calle 2 de Febrero 448, Resistencia, Chaco</h3>
            </div>
        </div>  
        
    </section>
    <section class="coach_home">
        
    
    </section>

</main>




{% endblock  %}